In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:

rating_pages = []

for year in range(2010,2013):
    for month in range(1,13):
        page_num = 0
        while True:
            response = requests.get('https://workey.codeit.kr/ratings/index?year='+str(year)+"&month="+str(month)+"&weekIndex="+str(page_num))
            soup = BeautifulSoup(response.text, 'html.parser')
            
            if len(soup.select("tr td")) != 0 : 
                rating_pages.append(soup)
                page_num += 1
                
            else: break

In [3]:
 
records = []  

for page in rating_pages:
    periods = page.select('#weekSelectBox option[selected="selected"]')
    ranks = page.select('.row .rank')[1:]
    channels = page.select('.row .channel')[1:]
    programs = page.select('.row .program')[1:]
    ratings = page.select('.row .percent')[1:]
    page_num += 1
    
    for i in range(len(ranks)):
        record = []
        record.append(periods[0].text)
        record.append(ranks[i].text)
        record.append(channels[i].text)
        record.append(programs[i].text)
        record.append(ratings[i].text)
        records.append(record)

In [4]:
df = pd.DataFrame(records, columns = ['period','rank','channel','program','rating'])
df.head()

                    period rank channel        program rating
0  2009.12.28 ~ 2010.01.03    1    KBS2  주말연속극(수상한삼형제)   33.4
1  2009.12.28 ~ 2010.01.03    2    KBS1  일일연속극(다함께차차차)   33.1
2  2009.12.28 ~ 2010.01.03    3    KBS2          해피선데이   27.1
3  2009.12.28 ~ 2010.01.03    4     MBC      MBC연기대상2부   24.4
4  2009.12.28 ~ 2010.01.03    5     SBS   주말극장(천만번사랑해)   24.2